body {
    margin: 0px;
    font-family: "Inter";
    width: 1440px;
    height: 1024px;
    background: #f6f7f8;
}

.add-c-left-part {
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    width: 470px;
    height: 600px;
    background-color: #2A3647;
    color: white;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.logo {
    width: auto;
    height: 64px;
}

.vector {
    width: 90px;
}

h1 {
    font-size: 58px;
    font-weight: 700;
    margin-block-start: 0;
    margin-block-end: 0;
}

h2 {
    font-size: 26px;
    font-weight: 400;
    margin-block-start: 0;
    margin-block-end: 0;
}

.left-part-content {
    gap: 24px;
    padding-left: 40px;
    padding-bottom: 80px;
}

.gap {
    padding: 4px 0px;
}

.page {
    border-radius: 30px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}

.right-part {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    padding: 60px 60px;
    gap: 60px;
}

.input {
    padding: 10px 15px;
    border-radius: 10px;
    color: black;
    border: solid 1px lightgrey;
    width: 420px;
    height: 40px;
    font-size: 20px;
}

.input::placeholder {
    color: #D1D1D1;
}

.input:focus {
    outline: none !important;
    border-color: rgb(215, 215, 215);
}

#input-email {
    background-image: url(assets/img/mail.png);
    background-repeat: no-repeat;
    background-position: 400px 22px;
}

#input-name {
    background-image: url(assets/img/person.svg);
    background-repeat: no-repeat;
    background-position: 400px 22px;
}

#input-phone {
    background-image: url(assets/img/call.svg);
    background-repeat: no-repeat;
    background-position: 400px 22px;
}

#edit-input-email {
    background-image: url(assets/img/mail.png);
    background-repeat: no-repeat;
    background-position: 400px 22px;
}

#edit-input-name {
    background-image: url(assets/img/person.svg);
    background-repeat: no-repeat;
    background-position: 400px 22px;
}

#edit-input-phone {
    background-image: url(assets/img/call.svg);
    background-repeat: no-repeat;
    background-position: 400px 22px;
}

.input-fields {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.rightpart-middle {
    display: flex;
}

.img-person-bg {
    height: 120px;
    width: 120px;
    background-color: #D1D1D1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px #FFFFFF;
    border-radius: 70px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    margin-right: 160px;
    margin-top: 60px;
}

.img-person {
    height: 42px;
    width: 42px;
    fill: white;
}

.save-btn {
    height: 56px;
    width: 124px;
    background-color: #2a3647;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 16px;
    font-size: 20px;
    font-weight: 700;
}

.create-btn {
    height: 56px;
    width: 214px;
    background-color: #2a3647;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 16px;
    font-size: 20px;
    font-weight: 700;
}

.cancel-btn {
    height: 56px;
    width: 124px;
    background-color: white;
    color: black;
    border-radius: 8px;
    border: solid 1px black;
    padding: 16px;
    font-size: 20px;
    font-weight: 700;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-right: 88px;
}

.edit-buttons {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-right: 178px;
}

.d-none {
    display: none;
}

.absolute {
    position: absolute;
    width: 1440px;
}

.bg-gray {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.432);
    height: 1024pxgi;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}