.contact-list {
    position: absolute;
    left: 232px;
    top: 210px;
    height: 813px;
    width: 450px;
    background: white;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 4px 4px 6px 0px #00000014;
}

.contact-create-btn {
    height: 56px;
    width: 350px;
    background-color: #2a3647;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 16px;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    gap: 14px;
}

.add-btn-bg {
    position: absolute;
    left: 232px;
    top: 100px;
    padding: 27px 50px;
    background-color: white;
    box-shadow: 4px 0px 6px 0px #00000014;
}

.text {
    position: absolute;
    top: 200px;
    left: 750px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 570px;
    height: 74px;
}

.text-contacts {
    font-weight: 700;
    font-size: 60px;
}

.text-team {
    font-weight: 400;
    font-size: 27px;
    color: #2A3647;
}

.column {
    display: flex;
    flex-direction: column;
}

.email-text {
    color: #007CEE;
    font-size: 16px;
    font-weight: 400;
}

.name-text {
    color: black;
    font-size: 20px;
    font-weight: 400;
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 80px;
}

.contact {
    display: flex;
    align-items: center;
    margin: 5px 50px;
    gap: 35px;
    padding: 10px 30px;
    border-radius: 10px;
}

.contact:hover {
    background-color: #2A3647;
}

.contact:hover .name-text {
    color: white;
}

.pfp {
    height: 42px;
    width: 42px;
    border: solid 2px white;
    background-color: orange;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

::-webkit-scrollbar-thumb {
    background: #A8A8A8;
    border-radius: 8px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar {
    width: 10px;
}

.details {
    position: absolute;
    top: 300px;
    left: 750px;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 365px;
    gap: 20px;
}

.details-upper-part {
    display: flex;
    gap: 40px;
    align-items: center;
}

.edit-delete {
    display: flex;
    height: 18px;
    gap: 16px;
}

.details-name {
    font-size: 47px;
    font-weight: 500;

}

.details-pfp {
    height: 120px;
    width: 120px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 47px;
    border: solid 3px white;
    border-radius: 70px;
}

.flex {
    display: flex;
    gap: 4px;
}

.details-info-text {
    font-size: 20px;
    font-weight: 400px;
    height: 74px;
    display: flex;
    align-items: center;
}

.gap {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.details-email-phone {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.details-mini-headline {
    font-size: 16px;
    font-weight: 700;
}

.details-email {
    color: #007CEE;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 12px;
}