/* Importieren Sie andere CSS-Dateien */

/* Fonts PAGE */
/* new css in assets*/
@import url("assets/css/fonts.css");

/* Basement Left+Header+Headline */
/* new css in assets*/
@import url("assets/css/basement.css");

/* Signup/Login PAGE */
/* new css in assets*/
@import url("assets/css/signuplogin.css");

/* Signup/Login PAGE */
/* new css in assets*/
@import url("assets/css/contact.css");
@import url("assets/css/addcontact.css");

/* SUMMARY PAGE */
/* new css in assets*/
@import url("assets/css/summary.css");

/* add Task PAGE */
/* new css in assets*/
@import url("assets/css/add-task.css");

/* Board PAGE */
/* new css in assets*/
@import url("assets/css/board.css");

/* Help + Privacy Policy + Legal notice */
/* new css in assets*/
@import url("assets/css/help-pp-ln.css");

/* Overall Responieve designe */
/* new css in assets*/
@import url("assets/css/overall.css");

/* mobile Responieve designe */
/* new css in assets*/
@import url("assets/css/responsive.css");


:root {
  --primary-color: #000;
  /*schwartz*/
  --secondary-color: #2A3647;
  /*das Haupt Blau/Grau*/
  --tertiary-color: #a8a8a8;
  /*leichtes Grau (placeholder Text usw)*/
  --join-color: #29ABE2;
  /*Das Join Blau*/
  --background-color: #FFF;
  /*element Hintergrund*/
  --menu-color: #42526E;
  /*Das heller Grau*/
  --border-shadow: rgba(0, 0, 0, 0.08);
  /* border */
}

body {
  margin: 0px;
  font-family: "Inter";
  background: #f6f7f8;
}

.d-none {
  display: none;
}

.color1 {
  background-color: #FF7A00;
}

.color2 {
  background-color: #FF5EB3;
}

.color3 {
  background-color: #6E52FF;
}

.color4 {
  background-color: #9327FF;
}

.color5 {
  background-color: #00BEE8;
}

.color6 {
  background-color: #1FD7C1;
}

.color7 {
  background-color: #FF745E;
}

.color8 {
  background-color: #FFA35E;
}

.color9 {
  background-color: #FC71FF;
}

.color10 {
  background-color: #FFC701;
}

.color11 {
  background-color: #0038FF;
}

.color12 {
  background-color: #C3FF2B;
}

.color13 {
  background-color: #FFE62B;
}

.color14 {
  background-color: #FF4646;
}

.color15 {
  background-color: #FFBB2B;
}