body {
  margin: 0px;
  font-family: "Inter";
  width: 1440px;
  height: 1024px;
  background: #f6f7f8;
}

/* Overlay test */

/* CSS-Styling für das Overlay hier */
.overlay {
  /* Andere Stile für das Overlay */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 3s cubic-bezier(0.25, 1, 0.5, 1);
  /* Langsamer und glatter Übergang */
  opacity: 1;
  transform: scale(1) translate(0, 0);
  /* Startposition und Größe */
}

.logo {
  width: 200px;
  height: auto;
  transition: all 3s cubic-bezier(0.25, 1, 0.5, 1) 4s;
  /* Starten Sie die Transformation nach 4 Sekunden */
  transform: scale(1) translate(0, 0);
  /* Startposition und Größe */
}

/* Stil für das Logo, wenn das Overlay sichtbar ist */
.overlay.active {
  opacity: 0;
  transform: scale(0.5) translate(-100%, -100%);
  /* Zielposition und Größe (kleiner und oben links) */
}

.d-none {
  display: none;
}

.page1-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(246, 247, 248);
}

.login-page {
  background-color: rgb(246, 247, 248);
  width: 100vw;
  height: 30vh;
}

.login-page-2 {
  background-color: rgb(246, 247, 248);
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 70vh;
}

.login-logo {
  height: 120px;
  width: 100px;
  padding-left: 77px;
}

.login-logo-upper-part {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
}

.login-signup-upper-part {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 70px;
  padding-right: 120px;
  gap: 24px;
  font-size: 18px;
}

.login-btn {
  height: 40px;
  width: 80px;
  background-color: #2a3647;
  color: white;
  border-radius: 8px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}

.login-window {
  height: 500px;
  width: 650px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 14px 3px #0000000a;
}

.login-legalnotice {
  display: flex;
  justify-content: center;
  gap: 30px;
  color: #bbbbbc;
  margin-top: 80px;
}

.login-text {
  font-size: 60px;
  font-weight: bold;
}

.login-window-inputs {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.login-input {
  padding: 10px 15px;
  border-radius: 10px;
  color: black;
  border: solid 1px lightgrey;
  width: 300px;
  font-size: 16px;
}

#input-email {
  background-image: url(assets/img/mail.png);
  background-repeat: no-repeat;
  background-position: 290px 10px;
}

#input-email::placeholder {
  color: rgb(215, 215, 215);
}

#input-email:focus {
  outline: none !important;
  border-color: rgb(215, 215, 215);
}

#input-password {
  background-image: url(assets/img/lock.png);
  background-repeat: no-repeat;
  background-position: 290px 8px;
}

#input-password::placeholder {
  color: rgb(215, 215, 215);
}

#input-password:focus {
  outline: none !important;
  border-color: rgb(215, 215, 215);
}

#input-confirm-password {
  background-image: url(assets/img/lock.png);
  background-repeat: no-repeat;
  background-position: 290px 8px;
}

#input-confirm-password::placeholder {
  color: rgb(215, 215, 215);
}

#input-confirm-password:focus {
  outline: none !important;
  border-color: rgb(215, 215, 215);
}

#input-name {
  background-image: url(assets/img/person.svg);
  background-repeat: no-repeat;
  background-position: 292px 10px;
}

#input-name::placeholder {
  color: rgb(215, 215, 215);
}

#input-name:focus {
  outline: none !important;
  border-color: rgb(215, 215, 215);
}

.login-checkbox {
  padding-left: 30px;
}

.login-btn-guest {
  height: 38px;
  width: 130px;
  border-radius: 8px;
  border: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 16px;
  font-weight: bold;
}

.login-window-buttons {
  display: flex;
  gap: 30px;
  font-weight: bold;
  font-size: 18px;
}

.underline {
  border-bottom: 2px solid #29abe2;
  padding-bottom: 10px;
}

.signup-logo-upper-part {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-top: 80px;
}

.signup-page {
  background-color: rgb(246, 247, 248);
  width: 100vw;
}

.signup-window-inputs {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.signup-window {
  height: 630px;
  width: 500px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 14px 3px #0000000a;
}

.signup-btn {
  height: 40px;
  width: 100px;
  background-color: #2a3647;
  color: white;
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}

.signup-checkbox {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.signup-grey-text {
  color: #bdbdbd;
}

.signup-blue-text {
  color: #29abe2;
}

.signup-window-upper-part {
  display: flex;
  padding-right: 125px;
}

.signup-arrow {
  width: 32px;
  height: 32px;
  padding-right: 85px;
}

.signup-vector {
  padding-top: 15px;
  width: 150px;
  padding-left: 20px;
}

.column {
  display: flex;
  flex-direction: column;
}

.signup-legalnotice {
  display: flex;
  justify-content: center;
  gap: 30px;
  color: #bbbbbc;
  padding-top: 165px;
}

.legal-notice-private-policy {
  color: #bbbbbc;
  text-decoration: none;
}

.signup-page-2 {
  background-color: rgb(246, 247, 248);
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

.signup-window-buttons {
  display: flex;
  gap: 30px;
  font-weight: bold;
  font-size: 18px;
  justify-content: center;
  padding-top: 24px;
}

/* Basement Left+Header+Headline */
/* new css in assets*/

/* SUMMARY PAGE */
/* new css in assets*/

/* Help + Privacy Policy + Legal notice */
/* new css in assets*/

/* Add Task */

.addTask {
  position: absolute;
  margin: 206px 0 0 328px;
}

/* left side */

.addTaskHeader {
  color: black;
  font-size: 61px;
  font-weight: 700;
  line-height: 73.2px;
  word-wrap: break-word;
  margin-bottom: 80px;
}

.add-task-inputs {
  display: flex;
  gap: 20px;
}

.enter-title-container {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 400;
  width: 25vw;
  margin-top: 48px;
}

.enter-description-container {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  font-size: 20px;
}

.description-textarea {
  height: 70px;
}

.assigned-to-container {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  font-size: 20px;
}

.select-category {
  padding: 8px 8px 8px 8px;
}

.separation-line {
  height: 100%;
  background-color: #d1d1d1;
  width: 1px;
  height: 400px;
}

/* right side */

.enter-date {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-top: 48px;
}

.priority {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-top: 16px;
}

.prio-select {
  display: flex;
  gap: 6px;
  font-size: 20px;
}

.prio-button {
  background-color: white;
  display: flex;
  border: unset;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 8px 16px 8px 16px;
}

.prio-button:hover {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#urgent-img, #medium-img, #low-img {
  height: 16px;
  width: 21px;
}

.urgent {
  background-color: #ff3d00;
  color: white;
  font-weight: bold;
}

.medium {
  background-color: #ffa800;
  color: white;
  font-weight: bold;
}

.low {
  background-color: #7ae229;
  color: white;
  font-weight: bold;
}

.subtask-button {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  color: #d1d1d1;
  background-color: white;
  font-size: 16px;
}

.border-radius-6 {
  border-radius: 6px;
  border-color: #d1d1d1;
}

.gap-8 {
  gap: 8px;
}