.taskoverlay {
  position: absolute;
  display: flex;
  padding: 48px 40px;
  flex-direction: column;
  gap: 24px;
  top: 15vh;
  border-radius: 30px;
  background: var(--background-color);
  box-shadow: 0px 0px 10px 3px var(--border-shadow);
  z-index: 999;
  width: 86%;
  max-width: 580px;
  margin-right: 50px;
}

.overlayposition {
  display: flex;
  justify-content: center;
}

.bOverlayuppercase {
  text-transform: capitalize;
}

.bOverlayClose {
  cursor: pointer;
}

.bOverlayCategory {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.bOverlayTitle {
  color: var(--primary-color);
  font-size: 61px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.bOverlayText {
  display: flex;
  align-items: center;
  color: var(--primary-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.bOverlayAssigned {
  color: var(--secondary-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.bOverlayAssignedNames {
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-self: stretch;
}

.bOverlaySub {
  color: var(--secondary-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-top: -5px;
}

.subtaskListItem {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 16px;
  height: 32px;
}

.subtaskListItem:hover {
  background-color: var(--icon, #eeeded);
  border-radius: 10px;
  cursor: pointer;
}

.checkboxSubtask {
  height: 24px;
  width: 24px;
}

.bOverlaycontrolls {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.bOverlaycontrollsbutton {
  color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: fill 0.3s;
  stroke: #D9D9D9;

}

.bOverlaycontrollsbutton svg path {
  fill: #2A3647;
  stroke: none;
}

.bOverlaycontrollsbutton:hover svg path {
  fill: #29ABE2;
  stroke: none;
}

.bOverlaycontrollsText {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.bOverlaycontrollsbutton:hover {
  color: #29ABE2;
  stroke: #29ABE2;
  fill: #29ABE2;
}

@media(max-width: 920px) {
  .taskoverlay {
    width: 53%;
    margin-right: 50px;
  }
}

@media(max-width: 820px) {
  .taskoverlay {
    width: 73%;
    margin-right: 50px;
    margin-right: 0px;
  }
}

.overlayIniNam {
  flex-direction: row;
  justify-content: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}
.overlayIniNam ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  gap: 8px;
}
.overlayIniNam ul li{
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}
.initialsOverlay {
  display: flex;
  justify-content: center;
  align-items: center;

  border: solid 1px var(--background-color);
  color: #f4f4f4;
  border-radius: 45px;
  width: 32px;
  height: 32px;
  float: left;
  text-align: center;
}
.nameOverlay{
  font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 120%;
}