.page1-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(246, 247, 248);
}

.page1-img1 {
  height: 300px;
  width: auto;
}

.page1-img1-transition {
  position: absolute;
  top: 100px;
  left: 100px;
  height: 120px;
  width: auto;
  animation-name: flyIn;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}


@keyframes flyIn {
  from {
    transform: translate(500px, 400px);
    opacity: 0;
  }

  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.page1-img2-transition {
  position: absolute;
  top: 25px;
  left: 50px;
  height: 70px;
  width: auto;
  animation-name: flyIn2;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}


@keyframes flyIn2 {
  from {
    transform: translate(30vw, 30vh);
    opacity: 0;
  }

  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.login-page {
  background-color: rgb(246, 247, 248);
  width: 100vw;
  height: 30vh;
}

.login-page-2 {
  background-color: rgb(246, 247, 248);
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 70vh;
}

.login-logo {
  position: absolute;
  height: 120px;
  width: 100px;
  top: 100px;
  left: 100px;
}

.login-logo-upper-part {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
}

.login-signup-upper-part {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 70px;
  padding-right: 120px;
  gap: 24px;
  font-size: 18px;
}

.login-btn {
  height: 40px;
  width: 80px;
  background-color: #2a3647;
  color: #FFF;
  border-radius: 8px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}

.login-btn:hover {
  height: 40px;
  width: 80px;
  background-color: #29ABE2;
  color: #FFF;
  border-radius: 8px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.login-window {
  height: 500px;
  width: 650px;
  background-color: #FFF;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 14px 3px #0000000a;
}

.login-legalnotice {
  display: flex;
  justify-content: center;
  gap: 30px;
  color: #bbbbbc;
  margin-top: 80px;
}

.login-text {
  font-size: 60px;
  font-weight: bold;
}

.login-window-inputs {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.login-input {
  padding: 10px 15px;
  border-radius: 10px;
  color: black;
  border: solid 1px lightgrey;
  width: 300px;
  font-size: 16px;
}

.red-input {
  border-color: #FF203B !important;
}

.wrong-password {
  color: #FF203B;
  font-size: 13px;
}

.wrong-password-login {
  color: #FF203B;
  font-size: 13px;
}

.login-input:focus {
  outline: none !important;
  border-color: #29ABE2 !important;
  background-color: white;
}

#input-email {
  background-image: url(../img/mail.png);
  background-repeat: no-repeat;
  background-position: 290px 10px;
}

#input-email::placeholder {
  color: rgb(215, 215, 215);
}

.btn-visibility {
  position: relative;
  height: 16px;
  width: 24px;
  margin-top: -60px;
  margin-left: 286px;
  margin-bottom: 12px;
}

.btn-visibility-signup {
  position: relative;
  height: 16px;
  width: 24px;
  margin-top: -52px;
  margin-left: 286px;
  margin-bottom: 12px;
}

.btn-visibility:hover {
  cursor: pointer;
}

.password {
  background-image: url(../img/lock.png);
  background-repeat: no-repeat;
  background-position: 290px 8px;
}

#input-password::placeholder {
  color: rgb(215, 215, 215);
}

#input-confirm-password::placeholder {
  color: rgb(215, 215, 215);
}

#input-name {
  background-image: url(../img/person.svg);
  background-repeat: no-repeat;
  background-position: 292px 10px;
}

#input-name::placeholder {
  color: rgb(215, 215, 215);
}

#input-name:active {
  border-color: #29ABE2;
}

.login-checkbox {
  padding-left: 30px;
}

.login-btn-guest {
  height: 38px;
  width: 130px;
  border-radius: 8px;
  border: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 16px;
  font-weight: bold;
}

.login-btn-guest:hover {
  height: 38px;
  width: 130px;
  border-radius: 8px;
  color: #29ABE2;
  border: solid 2px #29ABE2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.login-window-buttons {
  display: flex;
  gap: 30px;
  font-weight: bold;
  font-size: 18px;
}

.underline {
  border-bottom: 2px solid #29abe2;
  padding-bottom: 10px;
}

.signup-logo-upper-part {
  height: 200px;
}

.signup-page {
  background-color: rgb(246, 247, 248);
  width: 100vw;
}

.signup-window-inputs {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.signup-window {
  height: 630px;
  width: 500px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 14px 3px #0000000a;
}

.signup-btn {
  height: 40px;
  width: 100px;
  background-color: #2a3647;
  color: white;
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}

.signup-btn:hover {
  height: 40px;
  width: 100px;
  background-color: #29ABE2;
  color: white;
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.signup-checkbox {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.signup-grey-text {
  color: #bdbdbd;
}

.signup-blue-text {
  color: #29abe2;
}

.signup-window-upper-part {
  display: flex;
  padding-right: 125px;
}

.signup-arrow {
  width: 32px;
  height: 32px;
  padding-right: 85px;
}

.signup-vector {
  padding-top: 15px;
  width: 150px;
  padding-left: 20px;
}

.column {
  display: flex;
  flex-direction: column;
}

.signup-legalnotice {
  display: flex;
  justify-content: center;
  gap: 30px;
  color: #bbbbbc;
  padding-top: 165px;
}

.legal-notice-private-policy {
  color: #bbbbbc;
  text-decoration: none;
}

.signup-page-2 {
  background-color: rgb(246, 247, 248);
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

.signup-window-buttons {
  display: flex;
  gap: 30px;
  font-weight: bold;
  font-size: 18px;
  justify-content: center;
  padding-top: 24px;
}

.column2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vector-signup {
  width: 150px;
}

.page1-img1 {
  display: block;
}

.page1-img2 {
  display: none;
}