@media (max-width: 1200px) {

    .addTaskHeader {
        width: 440px;
    }

    .contact-create-btn:hover,
    .contact-create-btn {
        width: 300px;
    }

    .addTask {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .add-task-inputs {
        flex-direction: column;
    }

    .gray-separation-line {
        display: none;
    }

    .create-clear-button-container {
        margin-bottom: 50px;
    }

    .enter-description-container,
    .enter-date,
    .assigned-to-container,
    .priority {
        margin-top: 24px;
    }
}

@media (max-width: 725px) {
    .addTaskHeader,
    .subtask-button-inactive,
    .add-task-left,
    .add-task-right {
        max-width: 330px;
    }

    h2 {
        font-size: 20px;
    }
}